<div class="shipping">
  <h1>Shopping Cart</h1>
  <div class="grid grid-cols-2 gap-12">
    <section class="shipping-details">
      <app-shipping-details></app-shipping-details>
    </section>
    <section class="shipping-order-summary">
      <h2>Order Summary</h2>
      <section class="shipping-noti-statement">
        <p>You have 6 items in your cart.</p>
        <button type="button" value="clear-cart">Clear cart</button>
      </section>
    </section>
  </div>
  <button type="button" value="place-order" class="mt-6">Place Order</button>
</div>
