.shipping {
    /* border-radius: 12px; */
    padding: 5rem;
    /* background-color: #230078;
    color: #fdf4e6; */
    color: #230078;
    width: 100%;
}

.shipping button {
    background-color: #230078;
    color: #fdf4e6;
}

.shipping-noti-statement {
    width: 100%;
    display: grid;
    margin: 2rem;
    margin-left: 0;
    text-align: left;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-template-areas:"cart-noti-statement cart-noti-statement cart-noti-statement cart-noti-statement clear-cart-button" ;

}

.shipping-noti-statement button {
    grid-area: clear-cart-button;
}

.shipping-noti-statement p {
    grid-area: cart-noti-statement;
}