<div class="grid grid-cols-1 gap-6">
  <label class="block">
    <span class="text-gray-700" for="fullName">Full Name</span>
    <input
      name="fullName"
      id="fullName"
      type="text"
      class="form-input mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
      placeholder=""
    />
  </label>
  <label class="block">
    <span class="text-gray-700" for="address">Address</span>
    <input
      name="address"
      id="address"
      type="text"
      class="form-input mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
      placeholder="Unit 10, 19 Mooncake Str"
    />
  </label>
  <label class="block">
    <span class="text-gray-700" for="city">City</span>
    <input
      name="city"
      id="city"
      type="text"
      class="form-input mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
      placeholder="Sydney"
    />
  </label>
  <label class="block">
    <span class="text-gray-700" for="suburb">Suburb</span>
    <input
      name="suburb"
      id="suburb"
      type="text"
      class="form-input mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
      placeholder="Redfern"
    />
  </label>
  <label class="block">
    <span class="text-gray-700" for="postcode">Postcode</span>
    <input
      name="postcode"
      id="postcode"
      type="number"
      class="form-input mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black"
      placeholder="2540"
    />
  </label>
</div>
