/* Default */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: #230078;
    background-color: #fdf4e6;
    line-height: 2;
    overflow-y: auto;
  
  }

  .welcome{
    background-image: url(./assets/welcome.png);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

 footer {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-color: #230078;
  color: #fdf4e6;
 }
 
button {
  padding: 0.5rem;
  border-radius: 12px;
  background-color: #fdf4e6;
  width:max-content;
}

button:hover {
  cursor: pointer;
  background-color:#230078;
  color:#fdf4e6;
}

/*Shopping Cart*/
table {
  text-align: center;
  width: 100%;
  margin-top:2rem;
  margin-bottom:2rem;
}

th {
  border-bottom: #fdf4e6 solid;
}
td {
  height: 50px;
}
tfoot {
  font-size: 30px;
  background-color:  #fdf4e6;
  color: #230078;
}
.table-item, .table-total {
  text-align: left;
  padding-left: 1rem;
}

.checkout {
  margin: 5rem;

}